body{
	background: #D2B48C;
}
h1{
	font-size: 50px;
	text-align: center;
	-webkit-text-fill-color: white; 
    -webkit-text-stroke: 1px #3CB371;
    font-family: Brush Script MT, Brush Script Std, cursive;	
}
p{
font-family: Monotype Corsiva;
font-size: 40px;
-webkit-text-fill-color: #778899; 
 -webkit-text-stroke: 1px #3CB371;
}
.tc{
	text-decoration:underline;
}
.menu{
	background: #C0C0C0;
	font-family: Garamond;	
	border:2px ridge #3CB371;
	margin-left: 60px;
}
.menu li{
	display: inline-block;
	border:1px solid #3CB371;
	margin-right:30px;

} 
.menu a{
	text-decoration: none;	
    color:#3CB371;
	display: block;
	padding: 10px 15px;
	font:25px Garamond;
    
	 }

	#navigation
    {
 text-align: justify;  
 height: 20px;
 width:865px;
 
}
	#times ul li{display: inline;}
	#text{
		width:550px;
		background: #C0C0C0;
		padding: 5px 10px;
		border:3px dotted #3CB371;
		margin: 15px;
		float: left;
		margin-top:100px;
	}
	#image{
		float: right;
		width: 600px;
		margin-top:100px;
		
	}
	img{
		border:3px ridge #3CB371 ;
	}